@font-face {
    font-family: 'Luna';
    src: url('fonts/luna-webfont.woff2') format('woff2'),
         url('fonts/luna-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Montserrat Extra Light';
    src: url('fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('fonts/montserrat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}