/*$fancy: "Luna", serif;
$sans: "Montserrat Extra Light, Helvetica, Ariel sans-serif;
*/
$darkteal: #0D5C63;
$teal: #49BCAB;
$yellow: #F7B733;
$orange: #FE491A;
$white: #FFFFFA;
$lightgrey: #F6F5F5;
$grey: #666;

